.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -45px -49.6666666667px #ff9900, -18px -164.6666666667px #9100ff,
      -157px -257.6666666667px #c800ff, 4px -111.6666666667px #e1ff00,
      38px 52.3333333333px #ff7700, 31px -19.6666666667px #84ff00,
      81px -404.6666666667px #37ff00, 180px 68.3333333333px #ff9d00,
      36px -190.6666666667px #0015ff, 205px 81.3333333333px fuchsia,
      -78px -291.6666666667px #ee00ff, -57px -348.6666666667px #0d00ff,
      -105px -357.6666666667px #ffd900, 168px -76.6666666667px #ff2200,
      -110px 15.3333333333px #59ff00, -87px 17.3333333333px #ff7700,
      -145px -384.6666666667px #006fff, -229px 67.3333333333px #00ff37,
      164px -399.6666666667px #ffbf00, -142px -283.6666666667px #00e6ff,
      246px 62.3333333333px #62ff00, -136px -23.6666666667px #0004ff,
      51px -14.6666666667px #00ff62, -85px -49.6666666667px #9d00ff,
      136px -70.6666666667px #f2ff00, 70px -156.6666666667px #7300ff,
      124px -155.6666666667px #ee00ff, 54px -378.6666666667px #37ff00,
      246px -45.6666666667px #00ddff, 81px -21.6666666667px #1100ff,
      53px -40.6666666667px yellow, -228px -144.6666666667px #9900ff,
      -230px -257.6666666667px #00ff37, -11px -17.6666666667px #c800ff,
      -212px -273.6666666667px #00ff33, -72px -165.6666666667px #40ff00,
      -179px -308.6666666667px #006aff, 19px 28.3333333333px #0091ff,
      181px -176.6666666667px #3c00ff, -242px -389.6666666667px #00ffcc,
      131px 68.3333333333px #66ff00, -94px -284.6666666667px #ff1100,
      -121px 39.3333333333px #ff00d9, 180px -17.6666666667px #00ff37,
      189px -182.6666666667px #00ffa6, 235px -390.6666666667px #ddff00,
      -173px -382.6666666667px #ffea00, -60px -87.6666666667px #002fff,
      -52px 22.3333333333px #ff0009, 43px -117.6666666667px #ff6200,
      -89px 76.3333333333px #c800ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -45px -49.6666666667px #ff9900, -18px -164.6666666667px #9100ff,
      -157px -257.6666666667px #c800ff, 4px -111.6666666667px #e1ff00,
      38px 52.3333333333px #ff7700, 31px -19.6666666667px #84ff00,
      81px -404.6666666667px #37ff00, 180px 68.3333333333px #ff9d00,
      36px -190.6666666667px #0015ff, 205px 81.3333333333px fuchsia,
      -78px -291.6666666667px #ee00ff, -57px -348.6666666667px #0d00ff,
      -105px -357.6666666667px #ffd900, 168px -76.6666666667px #ff2200,
      -110px 15.3333333333px #59ff00, -87px 17.3333333333px #ff7700,
      -145px -384.6666666667px #006fff, -229px 67.3333333333px #00ff37,
      164px -399.6666666667px #ffbf00, -142px -283.6666666667px #00e6ff,
      246px 62.3333333333px #62ff00, -136px -23.6666666667px #0004ff,
      51px -14.6666666667px #00ff62, -85px -49.6666666667px #9d00ff,
      136px -70.6666666667px #f2ff00, 70px -156.6666666667px #7300ff,
      124px -155.6666666667px #ee00ff, 54px -378.6666666667px #37ff00,
      246px -45.6666666667px #00ddff, 81px -21.6666666667px #1100ff,
      53px -40.6666666667px yellow, -228px -144.6666666667px #9900ff,
      -230px -257.6666666667px #00ff37, -11px -17.6666666667px #c800ff,
      -212px -273.6666666667px #00ff33, -72px -165.6666666667px #40ff00,
      -179px -308.6666666667px #006aff, 19px 28.3333333333px #0091ff,
      181px -176.6666666667px #3c00ff, -242px -389.6666666667px #00ffcc,
      131px 68.3333333333px #66ff00, -94px -284.6666666667px #ff1100,
      -121px 39.3333333333px #ff00d9, 180px -17.6666666667px #00ff37,
      189px -182.6666666667px #00ffa6, 235px -390.6666666667px #ddff00,
      -173px -382.6666666667px #ffea00, -60px -87.6666666667px #002fff,
      -52px 22.3333333333px #ff0009, 43px -117.6666666667px #ff6200,
      -89px 76.3333333333px #c800ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -45px -49.6666666667px #ff9900, -18px -164.6666666667px #9100ff,
      -157px -257.6666666667px #c800ff, 4px -111.6666666667px #e1ff00,
      38px 52.3333333333px #ff7700, 31px -19.6666666667px #84ff00,
      81px -404.6666666667px #37ff00, 180px 68.3333333333px #ff9d00,
      36px -190.6666666667px #0015ff, 205px 81.3333333333px fuchsia,
      -78px -291.6666666667px #ee00ff, -57px -348.6666666667px #0d00ff,
      -105px -357.6666666667px #ffd900, 168px -76.6666666667px #ff2200,
      -110px 15.3333333333px #59ff00, -87px 17.3333333333px #ff7700,
      -145px -384.6666666667px #006fff, -229px 67.3333333333px #00ff37,
      164px -399.6666666667px #ffbf00, -142px -283.6666666667px #00e6ff,
      246px 62.3333333333px #62ff00, -136px -23.6666666667px #0004ff,
      51px -14.6666666667px #00ff62, -85px -49.6666666667px #9d00ff,
      136px -70.6666666667px #f2ff00, 70px -156.6666666667px #7300ff,
      124px -155.6666666667px #ee00ff, 54px -378.6666666667px #37ff00,
      246px -45.6666666667px #00ddff, 81px -21.6666666667px #1100ff,
      53px -40.6666666667px yellow, -228px -144.6666666667px #9900ff,
      -230px -257.6666666667px #00ff37, -11px -17.6666666667px #c800ff,
      -212px -273.6666666667px #00ff33, -72px -165.6666666667px #40ff00,
      -179px -308.6666666667px #006aff, 19px 28.3333333333px #0091ff,
      181px -176.6666666667px #3c00ff, -242px -389.6666666667px #00ffcc,
      131px 68.3333333333px #66ff00, -94px -284.6666666667px #ff1100,
      -121px 39.3333333333px #ff00d9, 180px -17.6666666667px #00ff37,
      189px -182.6666666667px #00ffa6, 235px -390.6666666667px #ddff00,
      -173px -382.6666666667px #ffea00, -60px -87.6666666667px #002fff,
      -52px 22.3333333333px #ff0009, 43px -117.6666666667px #ff6200,
      -89px 76.3333333333px #c800ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -45px -49.6666666667px #ff9900, -18px -164.6666666667px #9100ff,
      -157px -257.6666666667px #c800ff, 4px -111.6666666667px #e1ff00,
      38px 52.3333333333px #ff7700, 31px -19.6666666667px #84ff00,
      81px -404.6666666667px #37ff00, 180px 68.3333333333px #ff9d00,
      36px -190.6666666667px #0015ff, 205px 81.3333333333px fuchsia,
      -78px -291.6666666667px #ee00ff, -57px -348.6666666667px #0d00ff,
      -105px -357.6666666667px #ffd900, 168px -76.6666666667px #ff2200,
      -110px 15.3333333333px #59ff00, -87px 17.3333333333px #ff7700,
      -145px -384.6666666667px #006fff, -229px 67.3333333333px #00ff37,
      164px -399.6666666667px #ffbf00, -142px -283.6666666667px #00e6ff,
      246px 62.3333333333px #62ff00, -136px -23.6666666667px #0004ff,
      51px -14.6666666667px #00ff62, -85px -49.6666666667px #9d00ff,
      136px -70.6666666667px #f2ff00, 70px -156.6666666667px #7300ff,
      124px -155.6666666667px #ee00ff, 54px -378.6666666667px #37ff00,
      246px -45.6666666667px #00ddff, 81px -21.6666666667px #1100ff,
      53px -40.6666666667px yellow, -228px -144.6666666667px #9900ff,
      -230px -257.6666666667px #00ff37, -11px -17.6666666667px #c800ff,
      -212px -273.6666666667px #00ff33, -72px -165.6666666667px #40ff00,
      -179px -308.6666666667px #006aff, 19px 28.3333333333px #0091ff,
      181px -176.6666666667px #3c00ff, -242px -389.6666666667px #00ffcc,
      131px 68.3333333333px #66ff00, -94px -284.6666666667px #ff1100,
      -121px 39.3333333333px #ff00d9, 180px -17.6666666667px #00ff37,
      189px -182.6666666667px #00ffa6, 235px -390.6666666667px #ddff00,
      -173px -382.6666666667px #ffea00, -60px -87.6666666667px #002fff,
      -52px 22.3333333333px #ff0009, 43px -117.6666666667px #ff6200,
      -89px 76.3333333333px #c800ff;
  }
}
@keyframes bang {
  to {
    box-shadow: -45px -49.6666666667px #ff9900, -18px -164.6666666667px #9100ff,
      -157px -257.6666666667px #c800ff, 4px -111.6666666667px #e1ff00,
      38px 52.3333333333px #ff7700, 31px -19.6666666667px #84ff00,
      81px -404.6666666667px #37ff00, 180px 68.3333333333px #ff9d00,
      36px -190.6666666667px #0015ff, 205px 81.3333333333px fuchsia,
      -78px -291.6666666667px #ee00ff, -57px -348.6666666667px #0d00ff,
      -105px -357.6666666667px #ffd900, 168px -76.6666666667px #ff2200,
      -110px 15.3333333333px #59ff00, -87px 17.3333333333px #ff7700,
      -145px -384.6666666667px #006fff, -229px 67.3333333333px #00ff37,
      164px -399.6666666667px #ffbf00, -142px -283.6666666667px #00e6ff,
      246px 62.3333333333px #62ff00, -136px -23.6666666667px #0004ff,
      51px -14.6666666667px #00ff62, -85px -49.6666666667px #9d00ff,
      136px -70.6666666667px #f2ff00, 70px -156.6666666667px #7300ff,
      124px -155.6666666667px #ee00ff, 54px -378.6666666667px #37ff00,
      246px -45.6666666667px #00ddff, 81px -21.6666666667px #1100ff,
      53px -40.6666666667px yellow, -228px -144.6666666667px #9900ff,
      -230px -257.6666666667px #00ff37, -11px -17.6666666667px #c800ff,
      -212px -273.6666666667px #00ff33, -72px -165.6666666667px #40ff00,
      -179px -308.6666666667px #006aff, 19px 28.3333333333px #0091ff,
      181px -176.6666666667px #3c00ff, -242px -389.6666666667px #00ffcc,
      131px 68.3333333333px #66ff00, -94px -284.6666666667px #ff1100,
      -121px 39.3333333333px #ff00d9, 180px -17.6666666667px #00ff37,
      189px -182.6666666667px #00ffa6, 235px -390.6666666667px #ddff00,
      -173px -382.6666666667px #ffea00, -60px -87.6666666667px #002fff,
      -52px 22.3333333333px #ff0009, 43px -117.6666666667px #ff6200,
      -89px 76.3333333333px #c800ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
